<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/x-icon" href="https://php.earth/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="{{ site.app.facebook_app_id }}">

    <!-- open graph -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://lands.php.earth">
    <meta property="og:image" content="https://raw.githubusercontent.com/php-earth/assets/master/php-lands/og.jpg?{{ site.app.asset_version }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="PHP.earth">

    <meta property="fb:pages" content="583227448539653">

    <link rel="stylesheet" href="https://php.earth/assets/css/app.css">
    <link rel="stylesheet" href="/dist/style.css?{{ site.app.asset_version }}">
  </head>
  <body>
    <div class="ui stackable inverted borderless menu">
      <div class="ui container">
        <a class="item" href="https://php.earth/"><img src="https://php.earth/assets/img/phpearth-menu.png" alt="PHP.earth" class="pe-logo"> <span class="pe-logo-title">PHP.earth</span></a>
        <div class="item">
          <form class="ui form" action="https://php.earth/search" method="get" id="search_form">
            <div class="ui icon input">
              <input type="text" name="q" id="q" placeholder="Search PHP.earth">
              <i class="search link icon" id="search_btn"></i>
            </div>
          </form>
        </div>
        <a class="item column" href="https://php.earth/docs">Docs</a>
        <a class="item column" href="https://php.earth/conduct">Conduct</a>
        <a class="item column" href="https://php.earth/contributors">Contributors</a>
        <a class="item column" href="https://www.facebook.com/groups/2204685680/" target="_blank">FB Group</a>
      </div>
    </div>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '{{ site.app.facebook_app_id }}',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : '{{ site.app.facebook_api_version }}'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <video loop muted autoplay class="fullscreen" id="video">
      <source src="https://raw.githubusercontent.com/php-earth/assets/master/php-lands/ship.mp4" type="video/mp4">
    </video>

    <div class="ui pe-body">
      <div class="ui container">
        <div class="ui inverted segment pe-content-segment">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container" style="margin: 30px 0;">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="four wide column">
            <h3 class="ui inverted header">About PHP.earth</h3>
            <div class="ui inverted link list">
              <a href="https://php.earth/sitemap" class="item">Sitemap</a>
              <a href="https://php.earth/team" class="item">Team</a>
              <a href="https://php.earth/get-involved" class="item">Get Involved</a>
              <a href="https://php.earth/faq" class="item">Internal FAQ</a>
              <a href="https://status.php.earth" class="item">Status</a>
            </div>
          </div>
          <div class="four wide column">
            <h3 class="ui inverted header">Documentation</h3>
            <div class="ui inverted link list">
              <a href="https://php.earth/docs" class="item">Index</a>
              <a href="https://php.earth/install" class="item">PHP installation wizard</a>
              <a href="https://php.earth/docs/faq" class="item">FAQ</a>
              <a href="https://php.earth/docs/tips" class="item">&lt;?php tips</a>
              <a href="https://php.earth/docs/linux" class="item">Linux repositories</a>
            </div>
          </div>
          <div class="four wide column">
            <h3 class="ui inverted header">Community</h3>
            <div class="ui inverted link list">
              <a href="https://www.facebook.com/groups/2204685680/" class="item" target="_blank"><i class="facebook square icon"></i> Facebook Group</a>
              <a href="https://github.com/php-earth" class="item" target="_blank"><i class="github icon"></i> GitHub</a>
            </div>
          </div>
          <div class="four wide column">
            <h3 class="ui inverted header">Powered by</h3>
            <div class="ui inverted link list">
              <a href="https://php.net" target="_blank" title="PHP" class="ui middle aligned image"><img src="https://php.earth/assets/img/elephpant_100.png" alt="Powered by PHP" class="pe-grey"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://php.earth/assets/js/app.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.3.1/openseadragon.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js" async></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/dist/bundle.js?{{ site.app.asset_version }}"></script>
  </body>
</html>
