@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  src: url(../fonts/Cinzel-VariableFont_wght.ttf) format('truetype');
}

$base-font: 'Cinzel';

h1 {
  font-family: $base-font;
  font-size: 1.5em;
  margin: 15px 0 0 50px;
  word-wrap: break-word;
}
